@import "./Fonts.css";
@import "./Base.css";

.navbar {
  display: flex;
  position: fixed;
  background-color: var(--secondary);
  font-family: "Noto Sans";
  width: 100vw;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -26px 60px 0 var(--secondary);
  z-index: 10;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-options > ul {
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 100%;
  margin: 0;
}

.nav--logo {
  margin-left: 60px;
  height: 50px;
}

.nav-options > ul > li {
  margin-left: 20px;
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
  align-self: center;
}

.nav-options > li:last-child {
  margin-left: auto;
  margin-right: 30px;
}
.nav--home {
  display: flex;
  text-decoration: none;
}

.nav--home > h1 {
  margin: 0;
  margin-left: 15px;
  color: whitesmoke;
  align-self: center;
}

.nav--link {
  /* color: var(--primary); */
  color: whitesmoke;
  text-decoration: none;
}

.wallet-button {
  display: flex;
  padding-left: 10px;
  margin-right: 60px;
  align-items: center;
  color: whitesmoke;
  width: 160px;
  height: 35px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 2px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  overflow: hidden;
  font-weight: 800;
}

.wallet-button:hover {
  background-color: whitesmoke;
  color: var(--secondary);
}

.nav--logo:hover {
  animation: hithere 1s ease infinite;
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
